* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.header_menu {
    position: sticky;
    top: 0;
    margin-top: 0 auto;
}


nav ul {
    display: flex;
    list-style: none;
    gap: 30px;
    padding: 10px 20px;
}


nav ul a {
    text-decoration: none;
    color: black;
}

nav ul a:hover {
    color: grey;
}

.navbar-brand {
    font-family: Lucida Handwriting;
    font-weight: 600;
}



.container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-top: 50px;
}

.content {
    margin-top: 50px;
    letter-spacing: 1px;
    line-height: 1.8;
    flex: 1;
    padding: 20px;
    justify-content: center;
}

.image-container {
    flex: 1;
    text-align: center;
    padding: 20px;
}

.image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}


@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .image-container {
        order: -1;
        text-align: center;
    }
}


.fa-brands {
    font-size: 40px;
    cursor: pointer;
}

.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: purple;
    border-radius: 4px;
}

.button:hover {
    background-color: black;
    color: white;
}


.skills {
    display: block;
}

.sub-title {
    text-align: center;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: red;
    text-shadow: 2px 2px 5px black;
}

.note {
    text-align: center;
}

.heading {
    width: 80%;
    margin: 0 auto;
    text-align: left;
    font-size: 30px;
    font-family: cursive;
    padding: 20px;
    text-decoration: underline;
    text-decoration-color: blueviolet;
}

.projects {
    margin-top: 50px;
}

.box-container {
    width: 80%;
    margin: 0 auto;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 15px;
    cursor: pointer;
}

.box-container .box {
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    border-radius: 5px;
    text-align: center;
    padding: 30px 20px;
}

.box-container .box img {
    height: 80px;
}


.education {
    margin-top: 50px;
}

.box-container1 {
    width: 80%;
    margin: 0 auto;
    display: grid;
    align-items: stretch;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 15px;
    cursor: pointer;
}

.box-container1 .box1 {
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    border-radius: 5px;
    text-align: center;
    padding: 30px 20px;
}

.box-container1 .box1 img {
    width: 100%;
    height: auto;
}


.box-container2 {
    width: 80%;
    margin: 0 auto;
    display: grid;
    align-items: stretch;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 15px;
    cursor: pointer;
}

.box-container2 .box2 {
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    border-radius: 5px;
    text-align: center;
    padding: 30px 20px;
}

.box-container2 .box2 img {
    width: 100%;
    height: auto;
    margin-bottom: 25px;
}

.container-pic {
    text-align: center;
    padding: 10px 20px;
}




.container3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    background-color: lightslategrey;
}

.sub-title4 {
    margin-top: 50px;
    text-align: center;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: red;
    text-shadow: 2px 2px 5px black;
}

.sub-title3 {
    font-weight: 600;
    color: black;
    font-size: 40px;
    margin-bottom: 5px;
    text-decoration: underline;
}

.contact-left,
.contact-right {
    flex: 1 1 300px;
    padding: 20px;
    box-sizing: border-box;
}

.contact-left {
    order: 1;
}

.contact-right {
    order: 2;

}


@media (max-width: 768px) {
    .container3 {
        flex-direction: column;
        align-items: center;
    }

    .contact-left,
    .contact-right {
        flex: 1 1 100%;
        text-align: center;
        margin-bottom: 20px;
    }

    .contact-left {
        order: 1;
    }

    .contact-right {
        order: 2;
    }
}


h2 {
    margin-bottom: 10px;
}

p {
    margin-bottom: 5px;
}


form label,
form input,
form textarea {
    display: block;
    padding: 8px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    width: 350px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    border-radius: 25px;
    font-size: medium;
}

.container3 textarea {
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
}

.contact-inputs:focus {
    border: 2px solid black;
}

form button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    width: 150px;
    height: 40px;
    margin-top: 10px;
}


.footer {
    display: block;
    padding: 20px;
    text-align: center;
    background-color: black;
    color: white;
    margin-bottom: 0%;
}
